.banner {
    max-width: 1600px;
    margin: 0 auto;

    color: var(--font-color-secondary);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/index/banner/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin-bottom: 30px;
    }
    &__button {
        transition: var(--transition-button-primary);
    }
}
