@use "../utils/mixins" as m;

.backdrop {
    @include m.position(fixed, $top: 0);

    @include m.flexbox($justify: center, $align: center);

    width: 100vw;
    height: 100vh;
    padding-inline: 15px;

    background-color: rgba(0, 0, 0, 0.2);

    transition: var(--transition-backdrop);

    @include m.mq(medium) {
        padding-inline: 0;
    }
}
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.modal {
    @include m.position(relative);

    padding: 40px;
    width: 450px;

    background-color: var(--bgcolor-modal);
    box-shadow: var(--shadow-modal);
    border-radius: 4px;

    transform: translateY(0);

    transition: var(--transition-modal-open), var(--transition-width);

    @include m.mq(large) {
        width: 528px;
    }
}
.is-hidden .modal {
    scale: 0.7;
    transform: translateY(-110vh);

    transition: var(--transition-modal-close);
}
