@use "../utils/mixins" as m;

.team {
    background-color: var(--bgcolor-fade);

    &__title {
        margin-bottom: 50px;
    }
    &__list {
        @include m.flexbox($justify: center, $align: center);
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item {
        max-width: 270px;
        //
        background-color: var(--bgcolor-team);

        box-shadow: var(--shadow-team);

        @include m.mq(small, and, medium) {
            & {
                max-width: 450px;
            }
        }
        @include m.mq(medium, and, large) {
            & {
                max-width: 354px;
            }
        }
    }
    &__info {
        padding: 30px 0;
    }
    &__name {
        margin-bottom: 10px;

        font-weight: 500;
        line-height: 1.188;
        letter-spacing: 0.03em;
    }
    &__profession {
        margin-bottom: 16px;

        color: var(--font-color-p);
        line-height: 1.188;
        letter-spacing: 0.03em;
    }
    &__img {
        width: 100%;
    }
}
