.container {
    margin: 0 auto;
    max-width: 1200px;
}
.section {
    padding: 94px 0;

    &--top {
        padding-bottom: 0;
    }
    &--small {
        padding: 24px 0;
    }
    &--medium {
        padding: 60px 0;
    }
    &--large {
        padding: 21.345vh 0;
    }
}
.text-center {
    text-align: center;
}
.link--active {
    transition: var(--transition-color);
    &:is(:hover, :focus) {
        color: var(--font-color-hover);
    }
}
.img--block {
    display: block;
}
// .link--no-decoration,
// .logo--no-decoration {
//     color: inherit;
//     text-decoration: none;
// }
