@use "../utils/mixins" as m;

.container {
    margin: 0 auto;
    max-width: 800px;
    padding-inline: 15px;

    transition: var(--transition-padding-inline);

    @include m.mq(large) {
        max-width: 1200px;
        padding-inline: 5px;
    }
}
.section {
    // padding: 94px 0;
    padding: 60px 0;

    transition: var(--transition-padding-block);

    @include m.mq(large) {
        & {
            padding: 94px 0;
        }
    }
    &--bottom {
        @media (min-width: 768px) and (max-width: calc(1200px - 1px)) {
            & {
                padding-bottom: 45px;
            }
        }
        @media (min-width: 1200px) {
            & {
                padding-bottom: 0px;
            }
        }
    }
    &--small {
        padding: 10px 0;

        @include m.mq(medium) {
            & {
                padding: 24px 0;
            }
        }
    }
    &--medium {
        padding: 60px 0;
    }
    &--large {
        padding-block: 118px;

        @include m.mq(large) {
            padding-block: 200px;
        }
    }
}
.text-center {
    text-align: center;
}
.link--active {
    transition: var(--transition-color);
    &:is(:hover, :focus) {
        color: var(--font-color-hover);
    }
}
.img--block {
    display: block;
}
