@use "../utils/mixins" as m;

.footer {
    background-color: var(--bgcolor-dark);

    &__grid {
        @include m.flexbox($justify: center, $align: baseline);
        gap: 60px;
        column-gap: 144px;
        flex-wrap: wrap;

        @include m.mq(large) {
            & {
                column-gap: 0;
            }
        }
    }
    &__item {
        @include m.flexbox(column, $align: center);

        margin: 0;

        text-align: center;

        &:nth-child(1) {
            @include m.mq(large) {
                & {
                    margin-right: 70px;
                }
            }
        }
        &:nth-child(2) {
            @include m.mq(large) {
                & {
                    margin-right: 78px;
                }
            }
        }
        @include m.mq(large) {
            & {
                align-items: start;

                text-align: left;
            }
        }
    }

    &__title {
        margin-bottom: 20px;

        color: var(--font-color-title-footer);
        text-transform: uppercase;
    }
}
